<!DOCTYPE html>
<html>
<head>
    <title>Liste des customers</title>
</head>
<body>
<h1>Détails de l'customer</h1>

<table>
    <tr>
        <th>ID</th>
        <td>{{ customer.id }}</td>
    </tr>
    <tr>
        <th>Nom</th>
        <td>{{ customer.name }}</td>
    </tr>
    <tr>
        <th>email</th>
        <td>{{ customer.email }}</td>
    </tr>
    <tr>
        <th>phone</th>
        <td>{{ customer.phone }}</td>
    </tr>
    <tr>
        <th>liscencenumber</th>
        <td>{{ customer.Licencenumber }}</td>
    </tr>
    <tr>
        <th>address</th>
        <td>{{ customer.address }}</td>
    </tr>
    <!-- Ajoutez d'autres champs selon votre entité customer -->
</table>
</body>