<!DOCTYPE html>
<html>
<head>
    <title>Liste des cars</title>
</head>
<body>
<h1>Détails de l'car</h1>

<table>
    <tr>
        <th>ID</th>
        <td>{{ car.id }}</td>
    </tr>
    <tr>
        <th>model</th>
        <td>{{ car.model }}</td>
    </tr>
    <tr>
        <th>brand</th>
        <td>{{ car.brand }}</td>
    </tr>
    <tr>
        <th>year</th>
        <td>{{ car.year }}</td>
    </tr>
    <tr>
        <th>priceperday</th>
        <td>{{ car.priceperday }}</td>
    </tr>
    <tr>
        <th>category</th>
        <td>{{ car.category.name }}</td>
        <td>{{car.category.description}}</td>
    </tr>
    <!-- Ajoutez d'autres champs selon votre entité customer -->
</table>
</body>