<!DOCTYPE html>
<html>
<head>
    <title>Liste des categories</title>
</head>
<body>
    <h1>Liste des categories</h1>
    <table border="1">
        <thead>
            <tr>
                <th>id </th>
               
                <th>car.model </th>

                <th>car.brand </th>
               
             
                <th>customer.name </th>
                <th colspan="2">actions</th>
                
            </tr>
        </thead>
        <tbody>
            {% for rental in rentals %}
                <tr>
                    
                        <td>{{ rental.id }}</td>
                       
                        
                        <td>{{ rental.car.model }}</td>
                        <td>{{ rental.car.brand }}</td> <!-- Remplacez par une propriété valide si 'nom' n'existe pas -->
          
                        <td>{{ rental.customer.name }}</td>
                        <td><a href="{{ path('app_rentals_details', {'id': rental.id}) }}">details</a></td>
                        <td><a href="{{ path('app_rentals_delete', {'id': rental.id}) }}">delete</a></td>

                    

                   
                   
                
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun client trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
