<!DOCTYPE html>
<html>
<head>
    <title>rental details</title>
    <link rel="stylesheet" href="{{ asset('css/rentaldetails.css') }}">
</head>
<body>
    <div class="container">
        <div class="titre">
            <h1>Rental details</h1>
        </div>    
        <div class="rental_table">
            <table>
                <tr>
                    <th>ID</th>
                    <td>{{ rental.id }}</td>
                </tr>
                <tr>
                    <th>rental start date</th>
                    <td>{{ rental.rentaldate|date('Y-m-d') }}</td>
                </tr>
                <tr>
                    <th>rental end date</th>
                    <td>{{ rental.returndate|date('Y-m-d') }}</td>
                </tr>
                <tr>
                    <th>actual rental end date</th>
                    <td>{{ rental.actuelreturndate|date('Y-m-d') }}</td>
                </tr>
                <tr>
                    <th>IsLate</th>
                    <td>{{ rental.islate ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Total cost</th>
                    <td>{{ rental.totalcost}}</td>
                </tr>
                <tr>
                    <th>car id</th>
                    <td>{{ rental.car.id }}</td>
                </tr>
                <tr>
                    <th>car model</th>
                    <td>{{ rental.car.model }}</td>
                </tr>
                <tr>
                    <th>car brand</th>
                    <td>{{ rental.car.brand }}</td>
                </tr>
                <tr>
                    <th>customer id</th>
                    <td>{{ rental.customer.id }}</td>
                </tr>
                <tr>
                    <th>customer name</th>
                    <td>{{ rental.customer.name }}</td>
                </tr>
   

    <!-- Ajoutez d'autres champs selon votre entité customer -->
</table>
</body>